/* Reset básicos */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 300;
}

/* Ajusta el valor de las secciones con respecto al navbar */
#home,
#nosotros,
#servicios,
#productos,
#logistica,
#contact-us {
    scroll-margin-top: 70px; 
}


h2 {
    margin-bottom: 30px;

}

p {
    font-size: 1.2rem;
}

/* Navbar flotante dentro del hero */
header.navbar {
    background: rgba(255, 255, 255);
    margin-top: 20px;
    /* espacio arriba */
    margin-left: 70px;
    /* espacio a la izquierda para determinar el ancho del navbar*/
    margin-right: 70px;
    /* espacio a la derecha para determinar el ancho del navbar*/
    padding: 0;
    /* quitamos padding extra */
    height: 70px;
    /* controlamos altura */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    position: fixed;
    /* fijamos el navbar */
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

/* Alineación del contenido del navbar */
header .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Distribución de los botones del header */

.header-btns {
    height: 100px;
    padding-top: 50px;
}

/* Imagen logo */
.navbar-brand img {
    height: 50px;
    /* ajustamos el tamaño del logo */
}

/* Menú links */
.navbar-nav .nav-link {
    font-weight: 500;
    color: #333;
    padding: 0 20px;
    height: 70px;
    /* igual altura al header */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s, color 0.3s;
}

.nav-link.active {
    background-color: #32AFC8;
    /* Turquesa Aeronav */
    color: #fff;
    /* Texto blanco */
    border-radius: 0;
    /* Mantener bordes rectos */
    transition: background-color 0.3s, color 0.3s;
    /* Transición suave */
}

.nav-link:focus {
    outline: none;
    /* Quita el borde por defecto */
    box-shadow: none;
    /* Elimina cualquier efecto visual */
}


/* Hover en links */
.navbar-nav .nav-link:hover {
    background-color: #32AFC8;
    /* Turquesa Aeronav */
    color: #fff;
}

/* Link activo (item seleccionado) */
.navbar-nav .nav-link.active {
    background-color: #32AFC8;
    /* Turquesa Aeronav */
    color: #fff;
}

/* Hero grande */
.hero {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
}

/* Contenido centrado */
.hero-content {
    margin-top: 50px;
}

/* Subtítulo del Hero */
.hero .subtitulo {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: #333 0px 0px 5px;
    /* Sombra de texto */
}

/* Título principal */
.hero h1 {
    font-weight: 600;
    margin-top: 20px;
    text-shadow: #333 0px 0px 5px;
    /* Sombra de texto */
}

/* Estilo para los botones del hero */

.btn-primary {
    border-radius: 0;
    /* Quitar bordes redondeados */
    background-color: #32AFC8;
    /* Color gris */
    border-color: #32AFC8;
    /* Borde gris */
    transition: background-color 0.3s, color 0.3s;
    /* Transición suave */

}
.btn-outline-light {
    border-radius: 0;
    /* Quitar bordes redondeados */
    background-color: #808080;
    /* Color gris */
    border-color: #808080;
    /* Borde gris */
    transition: background-color 0.3s, color 0.3s;
    /* Transición suave */
}

/* Efecto hover para los botones */
.btn-primary:hover,
.btn-outline-light:hover {
    background-color: #fff;
    /* Turquesa de Aeronav */
    border-color: #32AFC8;
    /* Borde turquesa */
    color: #32AFC8;
    /* Texto blanco */
}

/* Ajustes generales */
section {
    padding: 60px 0;
}

/* Nosotros */
#nosotros {
    background-color: #32AFC8;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;


}

#nosotros h2 {
    color: #fff;
    /* Color del título */

}

#nosotros p {
    color: #fff;
    /* Color del texto */
    font-size: 1.2rem;
    /* Tamaño del texto */
    text-align: center;
    width: 75%;
}

#nosotros h4 {
    color: #fff;
    /* Turquesa Aeronav */
}

.nosotros {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.icon-nosotros {
    max-width: 100px;    /* Tamaño máximo en pantallas grandes */
    width: 100%;         /* Que ocupe el 100% del contenedor si es menor */
    height: auto;        /* Mantiene la proporción */
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.btn-nosotros {
    background-color: #32AFC8;
    color: #fff;
    /* Turquesa Aeronav */
    border-radius: 0;
    /* Bordes rectos */
    border-color: #fff;
    padding: 10px 20px;
    /* Espaciado interno */
    font-size: 1rem;
    /* Tamaño del texto */

}

.btn-nosotros:hover {
    background-color: #fff;
    /* Color blanco */
    color: #32AFC8;
    /* Turquesa Aeronav */
    border-color: #32AFC8;
    /* Borde turquesa */
}

.nosotros-down {
    display: flex;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

/* MISNION - VISION - VALOR */
.nosotros-section {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    align-items: center;


}

.orange {
    background-color: rgb(51, 51, 51, 0.9);

}

.skyblue {
    background-color: rgba(50, 175, 200, 0.9);

}

.gray {
    background-color: rgba(128, 128, 128, 0.9);

}

#nosotros .nosotros-section p {
    color: #fff !important;
    /* Color del texto */
    font-size: 1.2rem;
    /* Tamaño del texto */
    text-align: center;
    width: 100%;

}

.section-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 50px;
    gap: 20px;
    height: 50%;

}

.section-down {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
}

/* Servicios */

.icon-servicios {

    width: auto;
    height: 80px;
}

.servicios {
    background-color: #fff;
    /* Fondo blanco */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.servicios-up {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.servicios-med {
    width: 90%;
    height: 40vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-wrap: wrap;
    /* Permitir que los elementos se ajusten en pantallas pequeñas */

}

.servicios-down {
    width: 90%;
    height: 40vh;
    height: auto;
    display: flex;
    justify-content: space-evenly;

}

.servicios-down-img {
    width: 50%;
    height: auto;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;


}


.servicios-div {
    background-color: #f4f4f4;
    /* Fondo gris claro */
    height: auto;
    min-height: 200px;
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.servicios-div:hover {
    background-color: #32AFC8;
    transition: background 0.3s, color 0.3s;

}

.servicios-div h4 {
    font-size: 1.2rem;
    /* Tamaño del texto */
    text-align: center;
    font-weight: 400;
}

/******* PRODCUTOS ********/

.productos {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    
    background-size: cover;
    background-position: center;
}

.productos h2 {
    color: #fff;


}

.productos p {
    color: #fff;
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
}

/* Carousell de imágenes */
.contenedor-imagenes {
    overflow-x: hidden;
    /* Oculta el scroll horizontal */
    white-space: nowrap;
    /* Evita que las imágenes se envuelvan */
    position: relative;
}

.contenedor-imagenes img {
    display: inline-block;
    /* Permite que las imágenes se muestren una al lado de la otra */
    max-width: none;
    /* Evita que Bootstrap limite el ancho de las imágenes */
    height: auto;
    /* Mantiene la proporción de las imágenes */
    margin-right: 10px;
    /* Espacio entre imágenes */
    width: 100%;
    max-width: 300px;
}

/** LOGISTICA **/

.logistica {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    background-color: #f4f4f4;
    padding-left: 30px;
    padding-right: 30px;
    overflow: hidden;


}

.logistica-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.logistica-titulo p {
    text-align: center;
    padding: 0 200px 0 200px;
}

.logistica-secciones {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 30px 0 30px;

}

.items-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 30px;
    gap: 30px;
}

.logistica-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);



}

.logistica-items h4 {
    padding: 0;
    margin: 0;
    font-size: 1.2rem;

}

.logistica-items p {
    padding: 0;
    margin: 0;
    font-size: 1rem;
}

.logistica-items:hover {
    background-color: #32AFC8;
    color: #fff;
    transition: background 0.3s, color 0.3s;
}

.items-container-rigth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    max-height: auto;
    padding: 30px;
    gap: 30px;



}

.container-rigth-img {
    width: 100%;


}

.container-rigth-img img {
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra tenue */
}

.container-rigth-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 90%;
    height: 250px;
    background-color: #fff;
    padding-bottom: 60px;
    transform: translateY(-80px);
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Añadir sombra */

}

.container-rigth-texto ul {
    list-style: decimal;
}

/***** CONTACTO *****/

#contact-us {
    background-color: #fff;
    text-align: left;
    padding-bottom: 100px;
}

#contact-us .section-heading {
    color: #121212;
}


#contact-us .pop-button {
    margin-top: 30px;
}

.contact-heading {
    padding: 30px;
    text-align: center;
}

.contact input {
    border-radius: 0px;
    padding-left: 15px;
    font-size: 15px;
    font-weight: 300;
    color: #7a7a7a;
    background-color: rgba(0, 0, 0, 0.03);
    outline: none;
    border: none;
    box-shadow: none;
    line-height: 50px;
    height: 50px;
    width: 100%;
    margin-bottom: 30px;
}

.contact textarea {
    border-radius: 0px;
    padding-left: 15px;
    padding-top: 10px;
    font-size: 15px;
    font-weight: 300;
    color: #232323;
    background-color: rgba(0, 0, 0, 0.03);
    outline: none;
    border: none;
    box-shadow: none;
    height: 165px;
    max-height: 220px;
    width: 100%;
    max-width: 100%;
    margin-bottom: 25px;
}

.contact-img img {
    width: 100%;
    height: 100%;
   
}




/***** FOOTER *****/


footer {
    background-color: #363e50;
    padding: 0px 50px;
}

footer p {
    font-size: 1rem;
    color: #fff;
    margin-bottom: 0px;
    padding: 75px 0px;
}

footer a {
    color: #9CF;
    text-decoration: none;
}

footer a:hover {
    color: #fff;
}

.footer-section {
    display: flex;
    align-items: center;
}

.footer-section2{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}

.logo-footer {
    width: 150px;
    padding: 0;
    background-color: #32AFC8;
    height: auto;
}








/* Ajustes responsivos */

@media (max-width: 768px) {

    /* Header */
    header.navbar {
        background: rgba(255, 255, 255, 1);
        /* El fondo blanco no necesita !important */
        margin: 0;
        /* Elimina los márgenes laterales en pantallas pequeñas */
        max-width: 100vw;
        /* Asegura que el navbar ocupe todo el ancho */
        padding: 0;
        height: 70px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        position: fixed;
        top: 0;
        z-index: 10;
    }

    /* Fondo blanco en el menú hamburguesa abierto */
    .navbar-collapse {
        background-color: #ffffff;
        /* Ya es específico, no necesita !important */
    }

    .header-btns {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px
    }

    .nosotros {
        height: auto;
        padding-top: 30px;
        padding-bottom: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }

    .nosotros p {
        width: 80vw;
    }

    

    /* MISNION - VISION - VALOR */
    .nosotros-section {
        height: auto;
        /* Ajustado a auto */
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        /* Añadido padding para mejor espaciado en móviles */
        align-items: center;
    }

    /*** SERVICIOS ***/

    

    .servicios {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .servicios-up {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .servicios-med {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        /* Cambiado a columna para apilar en móviles */
        justify-content: flex-start;
        /* Alineación al inicio */
        align-items: stretch;
        /* Estirar items para que ocupen el ancho completo */
        gap: 20px;
        flex-wrap: nowrap;
        /* Evitar el envoltorio en columnas */
    }

    .servicios-down {
        padding-top: 30px;
        width: 100%;
        height: auto;
        display: flex;
        text-align: center;

    }

    .servicios-down h4 {
        margin-bottom: 30px;

    }
        


    .servicios-down-img {
        width: 100%;
        height: auto;
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: center;
    }


    .servicios-div {
        background-color: #f4f4f4;
        height: auto;
        /* Ajustado a auto para contenido dinámico */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
        padding: 20px;
        /* Añadido padding para mejor espaciado en móviles */
    }

    .servicios-div h4 {
        font-size: 1.2rem;
        text-align: center;
        font-weight: .00;
    }

    /** PRODUCTOS **/

    .productos {
        height: auto;
        text-align: center;
       

    }

    .productos p {
        padding: 15px;
        
    }

    /** LOGISTICA **/

    .logistica {
        display: flex;
        width: 100vw;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        height: auto;
        background-color: #f4f4f4;
        overflow: hidden;
        padding: 0;
        padding-top: 30px;



    }

    .logistica p {
        padding: 0;

    }

    .logistica-titulo {
        text-align: center;
        padding: 15px;

    }

    .logistica-titulo p {
        margin: 0
    }

    .logistica-secciones {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        padding: 0;


    }

    .items-container {
        width: 100vw;
        align-items: center;

    }

    .logistica-items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100vw;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .items-container-rigth {
        width: 100vw;
    }

    .container-rigth-texto {
        height: auto;
        margin-bottom: 0;
        transform: translateY(0px);
    }

    /***** CONTACTO ****/

   
    #contact-us {
        padding-bottom: 60px;
    }
    
    .contact-img img {
        padding-top: 30px;
    }

    .contact-heading {
        padding: 0;
        text-align: center;
    
    }

    /***** FOOTER *****/

    footer {
        padding: 0px;
    }
    footer p{
        padding: 15px;
    }

    .footer-section2 {
        width: 100%;
       
    }
    
    .footer-section2 img {
        height: 80px;
        padding: 10px;
    }
}
    



@media (max-width: 1024px) {
    .servicios-div {
        width: auto;
        min-width: 150px;
    }

    .items-container-rigth {
        justify-content: initial;
    }

    .container-rigth-texto {
        height: auto;
    }
}

